[submodule "llm-jp-eval"]
	path = llm-jp-eval
	url = https://github.com/llm-jp/llm-jp-eval.git
	branch = wandb-llm-jp
[submodule "FastChat"]
	path = FastChat
	url = https://github.com/lm-sys/FastChat
