langchain==0.0.329
wandb==0.15.8
huggingface_hub==0.16.3
torch==2.0.1
datasets==2.13.1
transformers==4.31.0
sentencepiece==0.1.99
fuzzywuzzy==0.18.0
peft

#python-Levenshtein==0.21.1
#chardet==5.1.0

