accelerate==0.23.0
aiohttp==3.9.1
aiosignal==1.3.1
annotated-types==0.6.0
anthropic==0.17.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
bitsandbytes==0.41.2.post2
boto3==1.34.11
botocore==1.34.108
cachetools==5.3.3
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
cmake==3.29.3
cohere==4.39
colorama==0.4.6
dataclasses-json==0.6.3
defusedxml==0.7.1
diskcache==5.6.3
distro==1.9.0
dnspython==2.6.1
docker-pycreds==0.4.0
einops==0.7.0
email-validator==2.1.1
exceptiongroup==1.2.0
fastapi-cli==0.0.3
fastapi==0.111.0
fastavro==1.9.4
filelock==3.13.1
frozenlist==1.4.0
fschat==0.2.36
fsspec==2023.12.0
fuzzywuzzy==0.18.0
gitdb==4.0.11
gitpython==3.1.40
google-ai-generativelanguage==0.4.0
google-api-core==2.19.0
google-auth==2.29.0
google-generativeai==0.3.2
googleapis-common-protos==1.63.0
greenlet==3.0.1
grpcio-status==1.62.2
grpcio==1.63.0
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.0
hydra-core==1.3.2
idna==3.6
importlib-metadata==6.11.0
interegular==0.3.3
jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema-specifications==2023.12.1
jsonschema==4.22.0
langchain-anthropic
langchain-core
langchain-google-genai
langchain-mistralai
langchain
langsmith
lark==1.1.9
levenshtein==0.21.1
llvmlite==0.42.0
lm-format-enforcer==0.9.8
lxml==4.9.3
markdown-it-py==3.0.0
markdown2==2.4.13
markupsafe==2.1.3
marshmallow==3.20.1
mdurl==0.1.2
mistralai==0.0.8
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.4
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.2.1
nh3==0.2.17
ninja==1.11.1.1
numba==0.59.1
numexpr==2.8.7
numpy==1.26.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.550.52
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
openai==1.30.1
orjson==3.10.3
outlines==0.0.34
packaging==23.2
pandas==2.1.3
peft==0.5.0
pip==22.0.2
plac==1.4.1
portalocker==2.8.2
prometheus-client==0.20.0
prometheus-fastapi-instrumentator==7.0.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.1
psutil==5.9.6
py-cpuinfo==9.0.0
pyasn1-modules==0.4.0
pyasn1==0.6.0
pydantic-core==2.14.5
pydantic==2.5.2
pygments==2.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-levenshtein==0.21.1
python-multipart==0.0.9
pytz==2024.1
pyyaml==6.0.1
rapidfuzz==3.5.2
ray==2.22.0
referencing==0.35.1
regex==2023.10.3
requests==2.31.0
rhoknp==1.6.0
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
s3transfer==0.10.1
sacrebleu==2.3.3
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
sentencepiece==0.1.99
sentry-sdk==1.38.0
setproctitle==1.3.3
setuptools==69.0.2
shellingham==1.5.4
shortuuid==1.0.11
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
sqlalchemy==2.0.23
starlette==0.37.2
sumeval==0.2.2
svgwrite==1.4.3
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
threadpoolctl==3.2.0
tiktoken==0.6.0
tokenizers==0.19.1
torch==2.3.0
tqdm==4.66.1
transformers-stream-generator==0.0.4
transformers==4.41.0
triton==2.3.0
typer==0.12.3
typing-extensions==4.8.0
typing-inspect==0.9.0
tzdata==2024.1
ujson==5.10.0
urllib3==2.0.7
uvicorn==0.29.0
uvloop==0.19.0
vllm-nccl-cu12==2.18.1.0.4.0
vllm==0.4.2
wandb==0.16.0
watchfiles==0.21.0
wavedrom==2.0.3.post3
wcwidth==0.2.13
websockets==12.0
xformers==0.0.26.post1
xmltodict==0.13.0
yarl==1.9.3
zipp==3.18.2
fschat @ git+https://github.com/wandb/FastChat@prototype_hyper
# llm-jp-eval @ git+https://github.com/llm-jp/llm-jp-eval.git@wandb-nejumi2
toolz
wheel
langchain_community