run_chain: false # If you want to reuse past evaluation results in a new run, please set it to true.

new_run: # This setting is for blending runs without running new evaluations. If run_chain is set to true, this setting is disabled.
  entity: "your/WANDB/entity"
  project: "your/WANDB/project"
  run_name: "your/WANDB/run_name"

old_runs: # Please specify the tasks you want to carry over from past runs. Multiple runs are permissible.
  - run_path: "your/WANDB/run_path"
    tasks: # The list of tasks to take over. Please comment out tasks that do not need to be taken over.
      - jaster_ja_0_shot
      - jaster_ja_4_shot
      - jaster_en_0_shot
      - jaster_en_4_shot
      - mtbench_ja
      - mtbench_en
  # - run_path: "your/WANDB/run_path"
  #   tasks:
  #     - jaster_ja_0_shot
  #     - jaster_ja_4_shot
  #     - jaster_en_0_shot
  #     - jaster_en_4_shot
  #     - mtbench_ja
  #     - mtbench_en
